* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;  /* cria espaço entre itens*/
  justify-content: space-around;  /* cria espaço em volta de todo item */
  width: 800px;
  height: 800px;
  margin: 10px;
  border: 1px solid #9758a6;
}

/*
MAIN AXIS - Eixo principal ex: Se tiver em row vai ser na linha horizontal
Se estiver em collumn vai ser na linha vertical
CROSS AXIS - Eixo secundário é o contrario do eixo principal
*/

.block {
  width: 100px;
  height: 100px;
  background-color: #d49c7bb6;
  border: 5px solid #64a0e4;
  border-radius: 5px;
  color: #4d2a2a;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
