* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between; 
  height: 800px;
  margin: 10px;
  border: 1px solid #9758a6;
}

.block {
  background-color: #d49c7bb6;
  border: 5px solid #64a0e4;
  border-radius: 5px;
  color: #4d2a2a;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  flex: 100px 1 1;
  order: 2;
}

.block01 {
  flex: 100px 4 4;
  order: 1;
}

.block02 {
  flex: 170px 4 4;
  order: 4;
}

.block03 {
  flex: 50px 4 4;
  order: 1;
}

.block04 {
  flex: 350px 4 4;
  order: 2;
}


